body header{
  background-color:#F5F5F5;
}

body header a.a1{
  margin-left: 15%;
  color:#0000F2;
}
body header a.a2{
  color:#0000F2;
}
body header a.a3{
  margin-left: 55%;
}
body .part_one{
  margin-left: 15%;
  width: 70%;
  background-color: aliceblue;
}
body .part_one .one_left{
  width: 20%;
  height:400px;
  float:left;
  background-color: #F5F5F5;
}
body .part_one .one_left p{
padding-left: 30px;
font-size: x-large;
height: 50px;
}
body .part_one .one_mid{
  width: 50%;
  height:400px;
  float:left;
}
body .part_one .one_mid img{
  width: 400px;
  height:400px;
}
body .part_one .one_right{
  height:400px;
  float:right;
  width: 30%;
}
body .part_one .one_right p{
  text-align: right;
  font-family: "黑体";
  font-size: x-large;
  height: 30px;
}
