body .part_two{
  margin-left: 15%;
  width: 70%;
  background-color: aliceblue;
}
body .part_two .content{
  -webkit-columns: 200px 3;
  columns: 200px 3;
}
body .part_two .content img{
  width:200px;
}

body .footer{
  background-color:#F5F5F5;
  height:500px;
}

body .footer .footer_left{
  margin-left: 15%;
  width: 35%;
  background-color: aliceblue;
  float:left;
}
body .footer .footer_right{
  width: 40%;
  margin-left: 45%;
  background-color: aliceblue;
}
body .footer .footer_right img{
  width:350px;
}
body .footer .footer_right h2{
  padding-top: 17px;
}
